.Window {
  margin: 5% 10%;
}

.BorderBox {
  justify-content: center;
  background-color: rgb(253, 251, 251);
  margin: 1%;
  padding: 1%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: auto;
}

.NavBar {
  padding: 2%;
}

.ResultsWrapper {
  min-width: 50%;
}

.NominationsWrapper {
  min-width: 50%;
}

.SearchBar {
  border: 1px solid grey;
  border-radius: 0px;
  padding: 0.5% 2% 0.5% 1%;
  width: 97%;
  outline: 0;
  background-color: #fffdfd;
}

.AllMovies {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2%;
}

.NominationsList {
  display: flex;
  justify-content: center;
}

.ResultsList {
  display: flex;
  justify-content: center;
}

.MovieCard {
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 1% 9% 9%;
  margin: 6% 0;
}

.CardWrapper {
  justify-content: center;
  min-width: 75%;
  margin-bottom: 5%;
}

.Button {
  background-color: #c5c5c5;
  border: none;
  padding: 3% 7%;
  text-align: center;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.TitleText {
  font-weight: bold;
  margin-left: 2%;
}

.MovieTitle {
  margin-bottom: 0;
}

.Year {
  font-size: small;
  margin-top: 0;
  margin-bottom: 11%;
}
