.App {
  margin: 50px 500px;
}

.BorderBox {
  justify-content: center;
  background-color: rgb(253, 251, 251);
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.AllMovies {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.ResultsList {
  display: flex;
  width: 300px;
  padding: 5px;
}

.NominationsList {
  display: flex;
  width: 300px;
  padding: 5px;
}

.MovieCard {
  border: 2px solid rgb(57, 60, 61);
  padding: 50px;
  margin: 20px;
}
